* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.position-relative {
    position: relative;
}
.padding-top-bottom {
    padding: 6% 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

/* Navbar */

nav {
    padding: 2% 0;
}

.logo-box {
    align-items: center;
}

.logo-box i {
    color: lightgray;
    font-size: 18px;
    margin-right: 8px;
}


nav ul {
    width: 45%;
    align-items: center;
}

nav ul a {
    color: #1f3b44;
    font-size: 14px;
}

.nav-buttons {
    display: flex;
    align-items: center;
}

.nav-buttons a {
    margin-right: 20px;
    color: #1f3b44;
}

.nav-buttons button {
    background-color: #ffcc00;
    border: 0;
    padding: 12px 20px;
    border-radius: 3px;
}
/* Home Section */
.home-1 h1,p{
    text-align: center;
}
.home-1 button {
    display: block;
    margin: 20px auto;
    width: 18%;
    padding: 1% 0;
    border: 0;
    border-radius: 25px;
    background-color: #285E67;
    color: white;
}
.img {
    width: 90%;
    margin: 4% auto;
    display: flex;
    justify-content: space-between;
}

.img img {
    width: 49%;
    margin: 0;
    border-radius: 15px;
}

/* Wellbeing Section */

.welldoing .container {
    background-color: #f4f4f4;
    padding: 4%;
    border-radius: 10px;
}

.welldoing h2 {
    margin-bottom: 4%;
    color: #292929;
}

.welldoing-content {
    align-items: center;
}

.welldoing-text {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.welldoing-text div {
    width: 45%;
}

.welldoing-text i {
    background-color: #285E67;
    color: white;
    padding: 14%;
    border-radius: 21%;
    margin-bottom: 8%;
    width: 35%;
}

.welldoing-text p {
    text-align: left;
    font-size: 14px;
}

.welldoing-img {
    width: 30%;
}

.welldoing-img img {
    width: 100%;
    display: block;
}

/* Organic Section */

.organic-section {
    padding: 5% 0;
}

.organic-content {
    align-items: center;
}

.organic-img {
    width: 48%;
}

.organic-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}

.organic-text {
    width: 45%;
}

.organic-text h3 {
    font-size: 35px;
    margin-bottom: 4%;
}

.organic-text > p {
    line-height: 1.6;
    margin-bottom: 7%;
   
}

.organic-item {
    align-items: center;
    margin-bottom: 6%;
    
}

.organic-item i {
    color: #285E67;
    font-size: 25px;
    margin-right: 20%;
    border: 1px solid #285E67;
    border-radius: 50%;
    padding: 10px;
}
.icon-i{
    border-radius: 50%;
    padding: 5%;
    color: #1f3b44;
}


.organic-item p {
    text-align: left;
    margin: 2%;
}
/*eat-section*/

.eat-section .container {
    background-color: #f4f4f4;
    padding: 4%;
    border-radius: 10px;
}

.eat-content {
    align-items: center;
}
.eat-text {
    width: 55%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.eat-text h2 {
    width: 100%;
    margin-bottom: 5%;
}

.eat-text div {
    width: 45%;
}

.eat-text i {
    background-color: #EBBFAE;
    color: white;
    padding: 5%;
    border-radius: 13%;
    margin-bottom: 7%;
    width: 15%;
    
}

.eat-text p {
    text-align: left;
    font-size: 14px;
}

.eat-img {
    width: 35%;
}

.eat-img img {
    width: 100%;
    display: block;
}
/* Last Section */

.last-section {
    padding-bottom: 10%;
}

.last-img {
    background-image: url"photo/pi5.png";
    background-size: cover;
    background-position: center;
    padding: 8% 15%;
    border-radius: 10px;
    color: white;
}

.last-img > i {
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    font-size: 25px;
    margin-bottom: 3%;
}

.last-img h2 {
    margin-bottom: 2%;
}

.last-img p {
    margin-bottom: 3%;
}

.last-img button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 12px 50px;
}

.plan-box {
    width: 90%;
    margin: -5% auto 0;
    background-color: #FCE2D7;
    padding: 6%;
    border-radius: 10px;
}

.plan-item {
    width: 20%;
}

.plan-item i {
    border: 1px solid black;
    border-radius: 50%;
    padding: 12px;
    margin-bottom: 10%;
}
/* Footer */

footer {
    background-color: #285E67;
    color: white;
    padding: 5% 0;
}

footer .container {
    align-items: center;
}

.footer-logo {
    font-weight: bold;
}

.social-icons {
    margin-top: 25px;
}

.social-icons i {
    margin-right: 15px;
}

footer ul {
    width: 30%;
}

footer ul a {
    font-size: 12px;
}